{% extends 'main/layout/layout.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title %}Forum{% endblock %}


{% block content %}
<style>
  .delete-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #888;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

  .delete-btn:hover {
    color: red;
  }
</style>
    <h1>Forum</h1>
    <!--Dodawanie postów-->
    <div class="card mb-4 p-2 shadow addpost-button">
        <h5 class="mb-3" onclick="document.getElementById('overlay').style.display='flex'" style="margin: auto;"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add a new post</h5>
        
        <div id="overlay">
            <form method="POST" id="overlay-content">
            <div class="close-btn" onclick="document.getElementById('overlay').style.display='none'"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
        
    </div>
    <!--Lista postów-->
    <div class="d-flex flex-column gap-4">
        {% if posts %}
            {% for post in posts %}
                <div class="card p-3 shadow-sm position-relative mb-3">
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.content|linebreaksbr }}</p>
                    <small class="text-muted">Dodano: {{ post.created_at|date:"d.m.Y H:i" }}</small>
                    <a href="{% url 'forum:delete_post' post.id %}" class="delete-btn" title="Usuń post">×</a>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no posts on the forum.</p>
        {% endif %}
    </div>
{% endblock %}