{% extends 'main/layout/layout.html' %}
{% block title%}About us{% endblock %}
{%load static%}

{% block content%}

<h1>About our Project</h1>
<h3>Welcome to our media review platform!</h3><br>

<p>Our goal is to provide a space where users can discover, rate, and review both <strong>books and movies</strong>.<br>
    Whether you're into fantasy novels, gripping thrillers, or blockbuster films — this is the place for you.</p>

<p>We allow our users to create our shared movie and book reviews database.<br>
    On top of reviews, we're planning to also build a fully functional <strong>marketplace</strong> where users can buy, 
    sell, or trade books and movies. It’s a community-driven hub for media lovers.</p>

<p>This project is developed by a 4-person team of passionate students who share a love for coding, storytelling, and cinema.<br>
    We’ve combined our skills to create a dynamic, interactive web experience.</p>

<br>
<h4>We hope you enjoy using it as much as we enjoyed building it!</h4>

{% endblock %}