{% extends 'main/layout/layout.html' %}

{% block title%}Books{% endblock %}

{% block content%}

    <h1>Books</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Year of publication</th>
                <th scope="col">Link to the review</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                {#Ze znakiem | można dodawać filtry do wyświetlanych w szablonie danych. Np.: variable|lower #}
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.link }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}